body {
  background: url(../images/BG.gif);
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1.2;
  color: #fff;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.masterBox {
  text-align: center;
}

.wrapperBox {
  position: relative;
  text-align: center;
  width: 150px;
  height: 370px;
  margin: 0 auto;
}

.hatBox {
  height: 40px;
  padding: 25px 0 30px;
}

.hat.napkin,
.hat.spoon,
.hat.fork,
.hat.knife {
  position: absolute;
  z-index: 3;
}

/*=================
 * WITCH
 =================*/
.witch .hat.napkin {
  top: 78px;
  left: 0px;
  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Safari */
  transform: rotate(-25deg);
}

.witch .hat.spoon {
  top: 130px;
  left: 16px;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari */
  transform: rotate(5deg);
}

.witch .hat.fork {
  top: 135px;
  left: 42px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari */
  transform: rotate(-45deg);
}

.witch .hat.knife {
  top: 118px;
  right: 15px;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);
}

/*=================
 * CAP
 =================*/
.cap .hat.napkin {
  top: 95px;
  left: 0px;
  -ms-transform: rotate(-25deg) scaleX(-1); /* IE 9 */
  -webkit-transform: rotate(-25deg) scaleX(-1); /* Safari */
  transform: rotate(-25deg) scaleX(-1);
}

.cap .hat.spoon {
  top: 160px;
  left: 26px;
}

.cap .hat.fork {
  top: 152px;
  left: 67px;
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari */
  transform: rotate(15deg);
}

.cap .hat.knife {
  top: 145px;
  right: 8px;
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(25deg); /* Safari */
  transform: rotate(25deg);
}

/*=================
 * TOP HAT
 =================*/
.top .hat.napkin {
  top: 95px;
  left: 0px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari */
  transform: rotate(-45deg);
}

.top .hat.spoon {
  top: 150px;
  left: 20px;
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(25deg); /* Safari */
  transform: rotate(25deg);
}

.top .hat.fork {
  top: 142px;
  left: 56px;
}

.top .hat.knife {
  top: 135px;
  right: 5px;
  -ms-transform: rotate(35deg); /* IE 9 */
  -webkit-transform: rotate(35deg); /* Safari */
  transform: rotate(35deg);
}

/*=================
 * LADY HAT
 =================*/
.lady .hat.napkin {
  top: 83px;
  left: 25px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}

.lady .hat.spoon {
  top: 140px;
  left: 22px;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);
}

.lady .hat.fork {
  top: 140px;
  left: 54px;
  -ms-transform: rotate(-35deg); /* IE 9 */
  -webkit-transform: rotate(-35deg); /* Safari */
  transform: rotate(-35deg);
}

.lady .hat.knife {
  top: 135px;
  right: 7px;
}

/*=================
 * ITEMS
 =================*/
.item {
  color: black;
  textAlign: center;
  cursor: pointer;
}

.itemChoice {
  width: 100%;
  textAlign: center;
  'float': none;
  'clear': both;
}

.itemBox {
  position: relative;
  width: 117px;
  margin: 0 auto;
}

.item.napkin:hover {
  background: url(../images/NAPKIN-SHADOW.gif) no-repeat 0 0;
}

.item.spoon:hover {
  background: url(../images/SPOON-SHADOW.gif) no-repeat 0 0;
}

.item.fork:hover {
  background: url(../images/FORK-SHADOW.gif) no-repeat 0 0;
}

.item.knife:hover {
  background: url(../images/KNIFE-SHADOW.gif) no-repeat 0 0;
}

.item.napkin {
  margin: 0 auto;
}

.item.spoon,
.item.fork,
.item.knife {
  position: absolute;
  top: 0;
}

.item.spoon {
  top: 27%;
  left: 7%;
}

.item.fork {
  top: 29%;
  left: 42%;
}

.item.knife {
  top: 22%;
  left: 71%;
}


/*=================
 * NEXT BUTTON
 =================*/
.nextButton {
  color: #FFF;
  cursor: pointer;
}

.nextButton.hide {
  display: none;
}

.nextButton.show {
  display: block;
}
